#home-div{
    margin: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    text-align: center;
    height: 90vh;
    flex-direction: column;
    
}